@model interest_app.Models.InterestCal

<h2>TEJA THOTA Interest Calculator</h2>

<form method="post">
    <div>
        <label>Principal:</label>
        <input  class="form-control" asp-for="Principal" type="number" step="any" required />
    </div>
    <div>
        <label>Time (years):</label>
        <input class="form-control"  asp-for="Time" type="number" step="any" required />
    </div>
    <div>
        <label>Rate (%):</label>
        <input class="form-control" asp-for="Rate" type="number" step="any" required />
    </div>
    <button type="submit">Calculate</button>
</form>

@if (Model.Principal > 0 && Model.Time > 0 && Model.Rate > 0)
{
    <h3>Simple Interest: @Model.SimpleInterest</h3>
}
